@page "/pokemon"

@inject HttpClient Client

<section class="pokemon-token-grid">
    <span class="pokemon-page-header">
        <h1 class="pokemon-page-title font-quadrabet">POKEMON</h1>
        <input @bind="PokemonNameInput" @bind:event="oninput" placeholder="Search Pokemon!" class="pokemon-name-search font-gscpixel">
    </span>
    @foreach (BasicPokemonDTO pokemon in Pokemon!)
    {
        if (string.IsNullOrEmpty(PokemonNameInput) || pokemon.Name.ToLower().Contains(PokemonNameInput.ToLower()))
        {
            <PokemonTokenComponent Pokemon=@pokemon />
        }
    }
</section>

@code
{
    private BasicPokemonDTO[]? Pokemon;
    private string? PokemonNameInput;

    protected override async Task OnInitializedAsync()
    {
        var options = new JsonSerializerOptions(JsonSerializerDefaults.Web);
        options.Converters.Add(new JsonStringEnumConverter());
        Pokemon = await Client.GetFromJsonAsync<BasicPokemonDTO[]>("/pokemon", options);
    }
}