@font-face {
    font-family: "GSCPixel";
    src: url(Fonts/Pokemon_GB.woff) format("woff");
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-self: center;
}

.silver {
    width: 200px;
    position: absolute;
    right: 275px;
    bottom: 75px;
}

.header-text {
    width: 65%;
    font-family: "GSCPixel";
    font-size: 36px;
    text-align: center;
    line-height: 150%;
    position: absolute;
    top: 61%;
    left: 51%;
    transform: translate(-50%, -50%);
}