@page "/"

<PageTitle>GSCMaster</PageTitle>

<div class="logo">
    <img src="Images/GSCMasterLogo.png" alt="GSCMasterLogo" width="25%">
</div>

<div class="header">
    <img src="Images/GSCOutline.png" width="75%">
    <p>LOf</p>
</div>