@page "/"

<PageTitle>GSCMaster</PageTitle>

<BaseStatsComponent />

@* <div class="logo">
    <img src="Images/GSCMasterLogo.png" alt="GSCMasterLogo" width="25%">
</div>

<div>
    <div class="header-content">
        <img src="Images/GSCOutline.png" width="75%" />
        <p class="header-text">Begin your Journey and Master Competetive Battling in Pokémon Gold, Silver and Crystal!</p>
    </div>
    <img src="Images/TrainerSprites/Silver.png" class="silver" />
</div> *@