@page "/pokemon/{PokemonName?}"

@inject HttpClient Client

<section class="pokemon-full-token">
    <div class="pokemon-info">
        <img src="@($"Images/PokemonSprites/{Pokemon!.NationalNumber.ToString("000")}-{Pokemon.Name}.gif")" class="pokemon-image" />
        <small class="national-number font-gscpixel">@Pokemon.NationalNumber.ToString("000")</small>
        <span class="pokemon-name font-quadrabet">@Pokemon.Name</span>
    </div>
    <BaseStatsComponent Pokemon=@Pokemon />
</section>

@code
{
    [Parameter] public string? PokemonName { get; set; }
    private FullPokemonDTO? Pokemon;

    protected override async Task OnInitializedAsync()
    {
        var options = new JsonSerializerOptions(JsonSerializerDefaults.Web);
        options.Converters.Add(new JsonStringEnumConverter());
        Pokemon = await Client.GetFromJsonAsync<FullPokemonDTO>($"/pokemon/{PokemonName}", options);
    }
}