@page "/pokemon/{PokemonName?}"

@inject HttpClient Client

<section>
    <img src="@($"Images/PokemonSprites/{Pokemon!.NationalNumber.ToString("000")}-{Pokemon.Name}.gif")" />
</section>

@code
{
    [Parameter] public string? PokemonName { get; set; }
    private FullPokemonDTO? Pokemon;

    protected override async Task OnInitializedAsync()
    {
        var options = new JsonSerializerOptions(JsonSerializerDefaults.Web);
        options.Converters.Add(new JsonStringEnumConverter());
        Pokemon = await Client.GetFromJsonAsync<FullPokemonDTO>($"/pokemon/{PokemonName}", options);
    }
}