<div class="footer-container">
    <img src="Images/Misc/GSCMasterLogo.png" alt="GSCMasterLogo" width="200px"/>
    <span class="copyright">All Content & Design © GSCMaster 2022. Pokémon Images & Names © 1995-2022 Nintendo/Game Freak.</span>
    <a href="https://github.com/Juke-Duke/GSCMaster">
        <img src="Images/Misc/GitHubLogo.svg" alt="GitHubLogo" width="80px"/>
    </a>
</div>