<header>
    <nav>
        <NavLinkComponent Hyperlink="/" MarkupString="@((MarkupString)GSCMaster)"/>
        <span class="main-links">
            <NavLinkComponent Hyperlink="/" NavLinkComponentText="Guide"/>
            <NavLinkComponent Hyperlink="/pokemon" NavLinkComponentText="Pokemon"/>
            <NavLinkComponent Hyperlink="/" NavLinkComponentText="Teams"/>
        </span>
    </nav>
</header>

@code
{
    private const string GSCMaster = "<span style=\"color: #F3C875\">G</span><span style=\"color: #747CA4\">S</span><span style=\"color: #9CCCD4\">C</span>Master";
}