<header>
    <NavLinkComponent Hyperlink="/" MarkupString="@((MarkupString)GSCMaster)"/>
    <nav class="navmenu-container">
        <ul>
            <li><NavLinkComponent Hyperlink="/" NavLinkComponentText="Guide"/></li>
            <li><NavLinkComponent Hyperlink="/Pokemon" NavLinkComponentText="Pokemon"/></li>
            <li><NavLinkComponent Hyperlink="/" NavLinkComponentText="Teams"/></li>
        </ul>
        @* <div class="user-nav-container">
            <img src="Images/ButtonBorder.png" width="160px">
            <a class="nav-link user-nav-link">Register</a>
        </div> *@
    </nav>
</header>

@code
{
    private const string GSCMaster = "<span style=\"color: #F3C875\">G</span><span style=\"color: #747CA4\">S</span><span style=\"color: #9CCCD4\">C</span>Master";
}