// .navmenu {
//   border: {
//     style: solid;
//     color: black;
//     width: 5px;
//   }
// }

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 8px;
}

.navbar-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.nav-link {
  text-decoration: none;
  font-family: "GSCPixel";
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.user-nav-container {
  position: relative;
  align-items: center;
  text-align: center;
}

.user-nav-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
