header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  margin-bottom: 50px;
}

.nav-menu-container {
  margin: auto;
  height: 100vh;
  position: fixed;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}