<div class="base-stats-container">
    <div class="base-stats-title font-gscpixel">Base Stats</div>
    <StatComponent StatName="HP"  StatValue=@Pokemon!.HP       />
    <StatComponent StatName="ATK" StatValue=@Pokemon.Attack    />
    <StatComponent StatName="DEF" StatValue=@Pokemon.Defense   />
    <StatComponent StatName="SPA" StatValue=@Pokemon.SpAttack  />
    <StatComponent StatName="SPD" StatValue=@Pokemon.SpDefense />
    <StatComponent StatName="SPE" StatValue=@Pokemon.Speed     />
    <div class="base-stats-bst">
        <span class="bst-title font-quadrabet">BST</span>
        <small class="bst-value font-gscpixel">
            @(Pokemon.HP + Pokemon.Attack + Pokemon.Defense + Pokemon.SpAttack + Pokemon.SpDefense + Pokemon.Speed)
        </small>
    </div>
</div>