<div class="base-stats-container">
    <span class="base-stat">
        <img src="Images/BaseStats/HPStat.png" class="base-stat-bar" />
        <span class="base-stat-value font-gscpixel">100</span>
    </span>
    <span>
        <img src="Images/BaseStats/ATKStat.png" class="base-stat-bar" />
        <span></span>
    </span>
    <span>
        <img src="Images/BaseStats/DEFStat.png" class="base-stat-bar" />
        <span></span>
    </span>
    <span>
        <img src="Images/BaseStats/SPAStat.png" class="base-stat-bar" />
        <span></span>
    </span>
    <span>
        <img src="Images/BaseStats/SPDStat.png" class="base-stat-bar" />
        <span></span>
    </span>
    <span>
        <img src="Images/BaseStats/SPEStat.png" class="base-stat-bar" />
        <span></span>
    </span>
</div>