.pokemon-token {
  width: 225px;
  height: 150px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.pokemon-tier-corner {
  width: 50px;
  position: relative;
  bottom: 50px;
  right: 75px;
}

.pokemon-tier {
  font-family: "Quadrabet";
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
}

.pokemon-image-link {
  position: relative;
  bottom: 18%;
}

.pokemon-image {
  filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.25));
  /* width: 65px; */
}

.pokemon-id {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 26%;
}
.national-number {
  font-family: "GSCPixel";
}

.pokemon-name {
  text-decoration: none;
  font-family: "Quadrabet";
  color: black;
  text-transform: uppercase;
}

.pokemon-type {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 16%;
}

.type-icon {
  width: 36px;
  height: 36px;
}
