.pokemon-token {
  width: 260px;
  height: 170px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.pokemon-tier-corner {
  width: 50px;
  position: relative;
  bottom: 70px;
  right: 95px;
}

.pokemon-tier {
  font-size: 10px;
  text-align: left;
}

.pokemon-image-link {
  position: relative;
  bottom: 22%;
}

.pokemon-image {
  filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.25));
  width: 100px;
}

.pokemon-id {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 28%;
}

.pokemon-type {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.type-icon {
  width: 36px;
  height: 36px;
}
