<div class="stat-info">
    <div class="stat-background font-quadrabet">
        <span class="stat-name font-quadrabet">@StatName</span>
        <div class="stat-foreground">
            <div class="stat-bar" style="background-color: @rgb; width: @((StatValue * 100) / 255)%;" />
        </div>
    </div>
    <small class="stat-value font-gscpixel">@StatValue</small>
</div>